<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>Currency Converter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>

    {% for msg in get_flashed_messages() %}
        <p>{{msg}}</p>
    {% endfor %}


    <div class="currency-container">
        <form action="/submission">
            <h3 class="currency-heading">Currency Converter</h3>

            <!--Select for converting from-->
            <label for="convert_from">Convert From</label>
                <select name="convert_from" id="convert_from">
                    {% for currency in country_codes %}
                    <option value="{{currency}}">{{currency}}</option>
                    {% endfor %}
                </select>

            <!--Select for converting to-->
            <label for="convert_to">Convert To</label>
                <select name="convert_to" id="convert_to">
                    {% for currency in country_codes %}
                    <option value="{{currency}}">{{currency}}</option>
                    {% endfor %}
                </select>

            <!--Amount input-->
            <label for="amt_input">Amount to convert</label>
                <input type="number" name="amt" min="1">
            
                <button>Convert</button>
        </form>
    </div>

    
    <div class="result_msg">
        {% if session['conversion'] %}
        <h3>{{session['convert_amount']}} {{session['convert_from']}} to {{session['convert_to']}} is {{session['conversion']}}</h3>

        {% endif %}
    </div>

    
    
</body>
</html>